:root {
  --white: #ffffff;
  --pricolor: #ff0060;
  --ghostwhite: #f3f6ff;
  --gray1: #00000029;
  --dblue: #122791;
  --liwhite2: #c4c8de4d;
  --text1: #57575b;
  --text2: #9696a7;
  --text3: #acb1cc;
  --text4: #0a0a0a;
  --black: #000000;
  --green: #3eb27b;
  --licyan: #dffcff;
  --payanton: #1dd4e6;
  --lightred: #ef4f65;
  --purpleheart: #5a2ce3;
  --liyellow: #fce76c;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Main stuff */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


button:focus {
  outline: 0px dotted !important;
  outline: 0px auto !important;
}
