@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Main stuff */
.logo img {
  width: 180px;
}

.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  padding: 2% 5%;
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  z-index: 9;
}
.headerbgimg {
  position: absolute;
  top: -14%;
  width: 100%;
  z-index: -1;
}

.push-left {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.userimg {
}
.userimg img {
  width: 45px;
  border-radius: 300px;
}

/* Menu */
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger-line {
  background: #fff;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamburger:hover .hamburger-line {
  background: #fff;
}
.hamburger-line-top {
  top: 3px;
}
.menu-active .hamburger-line-top {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}
.hamburger-line-middle {
  top: 50%;
  transform: translatey(-50%);
}
.menu-active .hamburger-line-middle {
  left: 50%;
  opacity: 0;
  width: 0;
}
.hamburger-line-bottom {
  bottom: 3px;
}
.menu-active .hamburger-line-bottom {
  bottom: 50%;
  transform: rotate(-45deg) translatey(50%);
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /* transition: all 0.25s ease-in; */
}
@media screen and (max-width: 768px) {
  .nav-menu {
    background: #fff;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: center;
  }
  .menu-active .nav-menu {
    transform: translatey(0%);
    opacity: 1;
    height: 240px;
    z-index: 99;
    margin-top: 18px;
    border-bottom-left-radius: 58px;
  }
  .menu-active .nav-menu::after {
    content: url(../img/mbl-menu.svg);
    position: absolute;
    bottom: -124px;
    z-index: -1;
  }
  .userimg {
    position: absolute;
    right: 68px;
  }
}
.nav-menu .menu-item a {
  color: #fff;
  display: block;
  line-height: 30px;
  margin: 0px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.nav-menu .menu-item a:hover {
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .nav-menu .menu-item {
    border-top: 1px solid #fff;
    /* border-left: 0px;
        border-right: 0px; */
  }
  .nav-menu .menu-item a {
    font-size: 20px;
    padding: 10px 20px;
    text-align: start;
  }
}

.sub-nav {
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 5px 5px;
  list-style: none;
  width: 230px;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    background: #036d7d;
  }
  .sub-nav {
    position: relative;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
}

.nav__link:hover + .sub-nav {
  display: block;
}

.sub-nav:hover {
  display: block;
}

.header.sticky {
  background: #ff0060;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.header.sticky .header__link {
  color: #000;
}

.header.sticky .header__logo {
  color: #000;
}

@media (min-width: 1500px) {
  .logo img {
    width: 250px;
  }
  .nav-menu .menu-item a {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .logo img {
    width: 160px;
  }
  .nav-menu .menu-item a {
    font-size: 15px;
  }
  .headerbgimg {
    top: -7%;
  }
  .navbar {
    padding: 2% 2%;
  }
}
.disnondesk {
  display: none;
}
@media (max-width: 768px) {
  .disnonmbl {
    display: none;
  }
  .disnondesk {
    display: block;
  }
  .headerbgimg {
    top: -3%;
  }
  .navbar {
    padding: 20px 20px;
  }
  .logo img {
    width: 143px;
  }
  .logo {
    z-index: 999;
  }
}
@media (max-width: 500px) {
  .headerbgimg {
    top: 0px;
  }
}
